<% layouts = Dir.entries(Rails.root.join("app", "views", "layouts")).keep_if { |i| i =~ /.html.erb$/ }.each{|i| i.slice! ".html.erb"} %>

<%= semantic_form_for [:admin, resource] do |f| %>
  <%= f.inputs "Основное" do %>
    <%= f.input :position %>
    <%= f.input :hidden, label: 'Скрыть пункт меню' %>
    <%= f.input :parent_id, as: :select,
                collection: Hash[Page.all.map{|page| ["#{page.name}-#{page.id}", page.id]}] %>
    <li class="input optional overflow">
      <%= f.label :layout %>
      <%= f.collection_select :layout, layouts, :to_s, :to_s %>
    </li>
  <% end %>

  <div class="globalize-inputs globalize-content">
    <%= f.globalize_inputs :translations do |lf| %>
      <%= lf.inputs do %>
        <%= lf.input :name, input_html: {rows:1}, label: 'Заголовок страницы' %>
        <%= lf.input :content, as: :ckeditor, label: 'Контент' %>

        <%= lf.input :locale, :as => :hidden %>
      <% end %>
    <% end %>
  </div>

  <%= f.inputs "SEO" do %>
    <%= f.input :slug, required: false %>
    <%= f.semantic_fields_for :seo do |j| %>
      <div class="globalize-inputs globalize-seo">
        <%= j.globalize_inputs :translations do |lf| %>
          <%= lf.inputs do %>
            <%= lf.input :title, input_html: {rows:1} %>
            <%= lf.input :keywords, input_html: {rows:1} %>
            <%= lf.input :description, input_html: {rows:1} %>

            <%= lf.input :locale, :as => :hidden %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= f.actions %>
<% end %>
